---
import { Image } from "astro:assets";

interface Props {
  img: ImageMetadata;
  imgAlt: string;
  href: string;
  title: string;
  description: string;
  tech: string[];
}

const { img, imgAlt, href, title, description, tech } = Astro.props;
---

<div class="flex flex-col md:flex-row mt-4">
  <a
    class="w-full md:w-5/12 lg:w-4/12 aspect-video border-2 border-neutral-800 rounded z-10 size-fit hover:z-0"
    href={href}
    target="_blank"
  >
    <Image src={img} alt={imgAlt} />
  </a>
  <div class="w-full md:w-7/12 lg:w-8/12 md:pl-8 mt-2 md:mt-0">
    <span class="flex">
      <h5 class="gradient-heading text-2xl font-semibold">{title}</h5>
    </span>
    <p class="text-zinc-300 text-lg mt-1 text-pretty">
      {description}
    </p>
    <p
      class="text-zinc-500 font-semibold mt-1 text-pretty divide-x-2 divide-zinc-700"
    >
      {tech.map((t) => <span class="px-2 first:pl-0">{t}</span>)}
    </p>
  </div>
</div>
