---
import onobooImg from "../assets/onoboo_169_compressed.png";
import homepageImg from "../assets/homepage_169_compressed.png";
import ProjectContainer from "./ProjectContainer.astro";
import type { Project } from "../types";

const projects: Project[] = [
  {
    img: onobooImg,
    imgAlt: "Screenshot of onoboo.com homepage",
    href: "https://onoboo.com",
    title: "Onoboo",
    description: `Korean language learning platform, that is still under development.`,
    tech: [
      "Typescript",
      "Sveltekit",
      "PostgreSQL",
      "Supabase",
      "Tailwind CSS",
      "Flowbite",
    ],
  },
  {
    img: homepageImg,
    imgAlt: "Screenshot of topias.dev",
    href: "https://topias.dev",
    title: "topias.dev",
    description: `You're looking at it! :) Under 100kb and perfect Lighthouse score.`,
    tech: ["Typescript", "Astro", "Tailwind CSS"],
    repo: "TopiasM/homepage",
  },
];
---

<div class="mt-6">
  <span class="flex">
    <h4 class="text-3xl font-bold gradient-heading">My Projects.</h4>
  </span>
  <div class="flex flex-col gap-6 mt-4">
    {
      projects.map(({ img, imgAlt, href, title, description, tech, repo }) => (
        <ProjectContainer
          {img}
          {imgAlt}
          {href}
          {title}
          {description}
          {tech}
          {repo}
        />
      ))
    }
  </div>
</div>
