---
import { Image } from "astro:assets";
import GithubLogo from "phosphor-astro/GithubLogoFill.astro";

const { img, imgAlt, href, title, description, tech, repo } = Astro.props;
---

<div class="flex flex-col md:flex-row">
  <a
    class="flex w-full md:w-5/12 lg:w-4/12 aspect-video border-2 border-neutral-800 rounded z-10 size-fit hover:z-0 hover:border-zinc-800"
    href={href}
    target="_blank"
  >
    <Image src={img} alt={imgAlt} width={800} />
  </a>
  <div class="w-full md:w-7/12 lg:w-8/12 md:pl-8 mt-2 md:mt-0">
    <span class="flex flex-row justify-between">
      <h5 class="gradient-heading text-2xl font-semibold">{title}</h5>
      {
        repo && (
          <a
            href={`https://github.com/${repo}`}
            class="flex flex-row text-zinc-400 text-sm font-semibold items-center gap-1 hover:text-zinc-300 hover:duration-150"
          >
            <GithubLogo height="16" class="rounded-full" />
            Source code
          </a>
        )
      }
    </span>
    <p class="text-zinc-300 text-lg mt-1 text-pretty">
      {description}
    </p>
    <p class="text-zinc-400 font-semibold mt-2 gap-2 text-wrap flex flex-wrap">
      {
        tech.map((t: string) => (
          <span class="px-2 bg-neutral-900 rounded">{t}</span>
        ))
      }
    </p>
  </div>
</div>
