---
import Envelope from "phosphor-astro/Envelope.astro";
import Phone from "phosphor-astro/Phone.astro";
import House from "phosphor-astro/House.astro";

const contactClasses = "flex flex-row gap-1 items-center";

const sectionContainerClasses = "flex flex-col gap-1 mt-6";
const sectionTitleContainerClasses = "flex flex-row items-center";
const sectionTitleClasses =
  "font-bold text-xl tracking-wider whitespace-nowrap";
const sectionLineClasses = "bg-neutral-900 h-2 rounded w-full ml-3";

const entityClasses = "font-semibold text-lg";
const infoContainerClasses = "flex flex-wrap justify-between items-center";
const titleClasses = "font-semibold mr-16";
const periodClasses = "font-semibold text-sm";

const descriptionClasses = "leading-6 text-pretty";
---

<div>
  <document title="Topias Martikainen Resume" author="Topias Martikainen">
    <page>
      <view class="flex flex-col text-zinc-300 px-4 py-4 md:px-14 md:py-10">
        <view class="flex flex-col">
          <view
            class="flex flex-col md:flex-row md:justify-between md:items-baseline"
          >
            <text class="text-3xl font-bold mb-4 mr-8">Topias Martikainen</text>
            <view
              class="flex flex-wrap md:justify-end gap-x-4 gap-y-1 mb-2 md:mb-0"
            >
              <view class={contactClasses}>
                <Envelope height="20" />
                <a
                  href="mailto:topias.martikainen@gmail.com"
                  target="_blank"
                  rel="noreferrer"
                  class="break-all"
                >
                  topias.martikainen@gmail.com
                </a>
              </view>
              <view class={contactClasses}>
                <House height="20" />
                <a href="https://topias.dev" target="_blank" rel="noreferrer">
                  topias.dev
                </a>
              </view>
            </view>
          </view>
          <text class={descriptionClasses}>
            Self-driven and collaborative Software Engineer with hands-on
            experience in building complex backends and highly interactive
            websites. A fast learner with a passion to keep up with the latest
            industry trends. Searching for an environment where I can challenge
            myself and work on meaningful products.
          </text>
        </view>
        <view class={sectionContainerClasses}>
          <view class={sectionTitleContainerClasses}>
            <text class={sectionTitleClasses}>WORK EXPERIENCE</text>
            <span class={sectionLineClasses}></span>
          </view>
          <view>
            <text class={entityClasses}> Northern Gas and Power </text>
            <view class={infoContainerClasses}>
              <text class={titleClasses}>Full Stack Developer</text>
              <text class={periodClasses}>Jan 2022 - Apr 2024</text>
            </view>
            <view class="flex flex-col mt-1">
              <view class="flex flex-row">
                <text class={descriptionClasses}>
                  Maintained and created new features to an ERP web application
                  using PHP, MySQL, AngularJS, Redis, Elasticsearch.
                </text>
              </view>
              <view class="flex flex-row">
                <text class={descriptionClasses}>
                  Developed new microservices with Typescript, Node.js,
                  PostgreSQL, AdonisJS.
                </text>
              </view>
            </view>
          </view>
          <view class="mt-3">
            <text class={entityClasses}>
              Finnish Radiation and Nuclear Safety Authority
            </text>
            <view class={infoContainerClasses}>
              <text class={titleClasses}>
                Software Developer / Project Engineer
              </text>
              <text class={periodClasses}>Oct 2020 – Dec 2021</text>
            </view>
            <view class="flex flex-col mt-1">
              <view class="flex flex-row">
                <text class={descriptionClasses}>
                  Developed a highly interactive web application that monitors
                  radiation levels across Finland using Typescript, React,
                  Leaflet, Scala, Play Framework, MySQL, MongoDB.
                </text>
              </view>
            </view>
          </view>
          <view class="mt-3">
            <text class={entityClasses}>PUFFUL Inc.</text>
            <view class={infoContainerClasses}>
              <text class={titleClasses}>Backend Developer</text>
              <text class={periodClasses}>Sep 2017 – Aug 2019</text>
            </view>
            <view class="flex flex-col mt-1">
              <view class="flex flex-row">
                <text class={descriptionClasses}>
                  REST API and Web development using AWS (EC2, s3, Lambda),
                  MySQL, PHP, Laravel, Redis, JavaScript, HTML/CSS, Vue.js.
                </text>
              </view>
            </view>
          </view>
        </view>
        <view class={sectionContainerClasses}>
          <view class={sectionTitleContainerClasses}>
            <text class={sectionTitleClasses}>EDUCATION</text>
            <span class={sectionLineClasses}></span>
          </view>
          <view>
            <text class={entityClasses}>
              JAMK University of Applied Sciences
            </text>
            <view class={infoContainerClasses}>
              <text class={titleClasses}>Media Engineering (B.Eng)</text>
              <text class={periodClasses}>Aug 2013 - Jun 2017</text>
            </view>
            <view class="flex flex-col mt-2">
              <view class="flex flex-row">
                <text class={descriptionClasses}>
                  Succesfully did courses related to Software Engineering and
                  Web Services. <br />
                  Completed 2 internships.
                </text>
              </view>
            </view>
          </view>
        </view>
        <view class={sectionContainerClasses}>
          <view class={sectionTitleContainerClasses}>
            <text class={sectionTitleClasses}> ACHIEVEMENTS </text>
            <span class={sectionLineClasses}></span>
          </view>
          <view>
            <text class={entityClasses}>
              AI + Cloud track by Naver Cloud Platform winner
            </text>
            <view class="flex flex-row justify-between mt-1">
              <text>JunctionX Seoul 2019</text>
            </view>
            <view class="flex flex-col mt-1">
              <view class="flex flex-row">
                <text class={descriptionClasses}>
                  Part of a 5-member team
                </text>
              </view>
            </view>
          </view>
        </view>
        <view class={sectionContainerClasses}>
          <view class={sectionTitleContainerClasses}>
            <text class={sectionTitleClasses}> SKILLS </text>
            <span class={sectionLineClasses}></span>
          </view>
          <view class="flex flex-col mt-1">
            <view class="flex flex-row">
              <text class={descriptionClasses}>
                <b>Programming languages:</b><br />
                TypeScript, JavaScript, PHP, SQL, Go, Scala, HTML / CSS
              </text>
            </view>
            <view class="flex flex-row mt-0.5">
              <text class={descriptionClasses}>
                <b>Libraries / Frameworks / tools:</b><br />
                Git, React, Svelte, Next.js, Tailwind CSS, Node.js, Docker, RabbitMQ,
                Laravel, Express.js, Firebase, Supabase
              </text>
            </view>
            <view class="flex flex-row mt-0.5">
              <text class={descriptionClasses}>
                <b>Databases:</b><br />
                MySQL, PostgreSQL, DynamoDB, MongoDB, Redis
              </text>
            </view>
            <view class="flex flex-row mt-0.5">
              <text class={descriptionClasses}>
                <b>Cloud computing platforms:</b><br />
                AWS, GCP, Azure
              </text>
            </view>
            <view class="flex flex-row mt-0.5">
              <text class={descriptionClasses}>
                <b>Industry Knowledge:</b><br />
                Server / Web development, SCRUM, OpenAPI, REST, GraphQL, Microservice
                architecture, Software testing, DDD, CI/CD
              </text>
            </view>
          </view>
        </view>
        <view class={sectionContainerClasses}>
          <view class={sectionTitleContainerClasses}>
            <text class={sectionTitleClasses}> LANGUAGES </text>
            <span class={sectionLineClasses}></span>
          </view>
          <view class="flex flex-col mt-2">
            <view class="flex flex-row">
              <text class={descriptionClasses}>
                <b>Finnish:</b> Native
              </text>
            </view>
            <view class="flex flex-row mt-0.5">
              <text class={descriptionClasses}>
                <b>English:</b> Full professional proficiency
              </text>
            </view>
            <view class="flex flex-row mt-0.5">
              <text class={descriptionClasses}>
                <b>Korean:</b> Limited Working Proficiency
              </text>
            </view>
            <view class="flex flex-row mt-0.5">
              <text class={descriptionClasses}>
                <b>Swedish:</b> Basics
              </text>
            </view>
          </view>
        </view>
      </view>
    </page>
  </document>
</div>
